        @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100..900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Dodum&family=Noto+Sans+KR:wght@100..900&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        li {
            list-style: none;
        }

        .main1 {
            height: 80px;
            background-color: #ccc;
            border-bottom: 1px solid white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background: url(../RICH-image/RICH-Main-bg.jpg);
        }

        .box-logo {
            display: inline-block;
            background-size: 100% auto;
            margin-right: 5px;
        }

        .box-logo img {
            width: 100px;
            height: 40px;
            margin-right: 20px;
        }

        .box-title {
            width: 70%;
            margin-left: 10px;
            display: flex;
            align-items: center;
        }

        .ulA {
            position: absolute;
            top: 80px;
            right: 0;
            color: black;
            padding: 15px;
            width: 100%;
            height: 50px;
            background-color: #fff;
            opacity: 0.7;
            padding-right: 550px;
        }

        .ul_A {
            display: none;
        }

        .ulB {
            position: absolute;
            top: 80px;
            right: 0;
            color: black;
            padding: 15px;
            width: 100%;
            height: 50px;
            background-color: #fff;
            opacity: 0.7;
            padding-right: 740px;
        }

        .ul_B {
            display: none;
        }

        .ulC {
            position: absolute;
            top: 80px;
            right: 0;
            color: black;
            padding: 15px;
            width: 100%;
            height: 50px;
            background-color: #fff;
            opacity: 0.7;
            padding-right: 500px;
        }

        .ul_C {
            display: none;
        }

        .ulD {
            position: absolute;
            top: 80px;
            right: 0;
            color: black;
            padding: 15px;
            width: 100%;
            height: 50px;
            background-color: #fff;
            opacity: 0.7;
            padding-right: 500px;
        }

        .ul_D {
            display: none;
        }

        .ulE {
            position: absolute;
            top: 80px;
            right: 0;
            color: black;
            padding: 15px;
            width: 100%;
            height: 50px;
            background-color: #fff;
            opacity: 0.7;
            padding-right: 500px;
        }

        .ul_E {
            display: none;
        }

        .ulF {
            position: absolute;
            top: 80px;
            right: 0;
            color: black;
            padding: 15px;
            width: 100%;
            height: 50px;
            background-color: #fff;
            opacity: 0.7;
            padding-right: 250px;
        }

        .ul_F {
            display: none;
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .ul .ulb {
            font-size: 14px;
            margin-right: 20px;
            font-weight: bold;
        }

        .box-title a {
            font-family: "Noto Sans KR", sans-serif;
            margin: 15px;
            color: white;
            font-weight: bold;
        }

        .box-end {
            width: 400px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .main-logo2 {
            margin: 10px;
            display: flex;
            align-items: center;
            text-decoration: none;
        }

        .logo2_a {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        a[target="_blank"] {
            text-decoration: none;
        }

        a[target="_self"] {
            text-decoration: none;
        }

        .fa-user {
            margin-right: 10px;
            color: white;
        }

        .fa-chevron-down {
            margin-left: 2px;
        }

        .main2 {
            height: 700px;
            background-color: #ccc;
            border-bottom: 1px solid white;
            background: url(../RICH-image/RICH-Main-bg.jpg) no-repeat;
            background-size: 100% 95%;
        }

        .select_wrap {
            position: relative;
        }

        .select_wrap .box_wrap {
            width: 150px;
            text-align: center;
            padding: 4px 0;
            background-color: white;
            font-family: "Noto Sans KR", sans-serif;
            border-radius: 4px;
            font-size: 15px;
            color: #333;
        }

        .select_wrap .gnb {
            display: none;
            width: 141px;
            position: absolute;
            top: 37px;
            right: 4px;
        }

        .select_wrap .block {
            display: block;
        }

        .select_wrap .gnb .lnb {
            padding: 10px 11px;
            background: white;
        }

        .select_wrap .gnb .lnb .lnb-p {
            font-size: 13px;
            font-weight: bold;
            margin-left: 7px;
            color: #333;
        }

        .select_wrap .gnb .lnb .lnb-sn {
            font-size: 11px;
            margin-left: 7px;
            font-size: 11px;
            color: grey;
        }

        .select_wrap .gnb .lnb .lnb-p:hover {
            color: red;
        }

        .box_red {
            width: 90px;
            background-color: rgba(255, 0, 0, 0.945);
            margin-left: 5px;
            padding: 5px;
            border-radius: 5px;
            text-align: center;
            font-weight: bold;
            font-size: 15px;
        }

        .bg_red {
            color: white;
        }

        .dlb1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            height: 60%;
        }

        .dlb1_p {
            color: white;
            font-size: 40px;
            display: flex;
            justify-content: center;
            margin-top: 160px;
        }

        .dlb1_sn {
            color: white;
            font-size: 45px;
            display: flex;
            justify-content: center;
        }

        .dlb1_serch {
            width: 100%;
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }

        .dlb1_bgwhite {
            width: 60%;
            height: 50px;
            font-size: 20px;
            padding: 0 14px;
            background-color: rgba(255, 255, 255, .9);
            border: 0;
        }

        .newserch {
            display: none;
            width: 64%;
            background-color: white;
            padding: 10px;
            border: 1px solid black;
            text-align: justify;
            font-size: 14px;
            color: grey;
            position: absolute;
            top: 372px;
        }

        .dlb1_bgwhite::placeholder {
            opacity: 0.7;
        }

        .dlb1_bgred_i {
            width: 50px;
            height: 50px;
            background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }

        .dlb {
            display: flex;
            align-items: flex-end;
            margin-top: 20px;
            color: white;
        }

        .dlb_dt {
            margin-right: 10px;
            font-size: 15px;
        }

        .dlb_dda {
            padding: 5px;
            background-color: #0000003d;
            margin: 6px;
            border-radius: 6%;
            font-size: 13px;
            color: white;
        }

        .dlb2 {
            width: 100%;
            height: 150px;
            display: flex;
            justify-content: center;
            margin-top: 40px;
        }

        .dlb2_box {
            width: 100px;
            height: 100px;
            background-color: white;
            margin-right: 10px;
            color: grey;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10%;
        }

        .i1 {
            width: 50px;
            height: 50px;
        }

        .main3 {
            display: flex;
            justify-content: center;
        }