@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Dodum&family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 850px;
    background-color: rgb(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../RICH-image/RICH-Main-bg.jpg) no-repeat;
    background-size: 300vh;
}

.Login_mbox {
    width: 35vw;
    height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 330px;
}

.inb_login,
.inb_pw {
    width: 100%;
    height: 50px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #bbb;
    opacity: 0.7;
}

.inb_bgred {
    width: 100%;
    height: 50px;
    margin: 10px;
    padding: 0;
    background-color: red;
    border: 0;
    color: white;
    font-weight: bold;
}

.login_a {
    font-size: 13px;
    margin: 3px;
    font-weight: bold;
    font-family: "Noto Sans KR", sans-serif;
    color: black;
}

a[target="_blank"] {
    text-decoration: none;
}

a[target="_self"] {
    text-decoration: none;
}

.login_p {
    width: 76%;
    border: 1px solid #bbb;
    text-align: center;
    margin: 15px 0px 10px;
}

.login_p1 {
    font-size: 12px;
    font-weight: bold;
    color: #bbb;
    margin: 10px;
}

.imgbox {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kakao {
    width: 330px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #f9d700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.naver {
    width: 330px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #83d76f;
    display: flex;
    justify-content: center;
    align-items: center;
}


.facebook {
    width: 330px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #6b94eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    margin: 10px;
    color: black;
}

.naver_p {
    margin: 17px;
    color: black;
}